<div class="mybottom">
    <div class="mybottom1">
        <!-- <img src="../../static/main/images/gemlogo.png"
            alt="logo"
        /> -->
        <h5>Adbelt consults ltd</h5>
        <h6>Quality Guaranteed, Always!</h6>
    </div>
    <div class="mybottom2">
        <h5>Sitemap</h5>
        <h6>Home</h6>
        <h6>Aboutus</h6>
        <h6>Sectors</h6>
        <h6>Services</h6>
    </div>
    <!-- <div class="mybottom2"> 
        <h6>Contactus</h6>
        <h6>Gallery</h6>
    </div> -->
    <div class="mybottom2">
        <h5>Contactus</h5>
        <h6>P.O.Box 700868, Entebbe, Uganda</h6>
        <h6>Zzana, Entebbe Road</h6>
        <h6>Phone: +256 789 400 006  / +256 759 019 447</h6>
        <h6>Email: info@adbelt.co.ug</h6>
       
    </div>
</div>