{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <section id="top" class="text-center" style="overflow-x:hidden;height: 100%;">
            <!--title section-->
        {% include "main/snippets/topbar.html" %}
        <div class="sectors-eq">
            <div class="sec-eqp">
                <h4 class="sechead">PERSONAL PROTECTIVE  EQUIPMENT</h4>
                <h5 class="sechead5">Reach out for any Safety Equipments!</h5>

                <div class="secmajor">
                    <div class="sec-eqp1">
                        <h5>Head Protection</h5>
                        <img src="../../static/main/images/head.jpg" alt="ppe" />
                    </div>
                    <div class="sec-eqp1">
                        <h5>Eye protection</h5>
                        <img src="../../static/main/images/eye.png" alt="ppe" />
                    </div>
                    <div class="sec-eqp1">
                        <h5>Ear protection</h5>
                        <img src="../../static/main/images/ear.jpg" alt="fire" />
                    </div>
                    <div class="sec-eqp1">
                        <h5>Respiratory Protection</h5>
                        <img src="../../static/main/images/lungs.png" alt="aid" />
                    </div>
                    <div class="sec-eqp1">
                        <h5>Hand protection</h5>
                        <img src="../../static/main/images/hand.png" alt="aid" />
                    </div>
                    <!-- <div class="sec-eqp1">-->
                    <!--    <h5>Body Protection</h5>-->
                    <!--    <img src="../../static/main/images/body.png" alt="ppe" />-->
                    <!--</div>-->
                    <!--<div class="sec-eqp1">-->
                    <!--    <h5>Feet protection</h5>-->
                    <!--    <img src="../../static/main/images/feet.jpg" alt="ppe" />-->
                    <!--</div>-->
                    <!--<div class="sec-eqp1">-->
                    <!--    <h5>Fall  protection</h5>-->
                    <!--    <img src="../../static/main/images/lifelines.jpg" alt="fire" />-->
                    <!--</div>-->
                    <!--<div class="sec-eqp1">-->
                    <!--    <h5>Respiratory Protection</h5>-->
                    <!--    <img src="../../static/main/images/lungs.png" alt="aid" />-->
                    <!--</div>-->
                    <!--<div class="sec-eqp1">-->
                    <!--    <h5>Hand protection</h5>-->
                    <!--    <img src="../../static/main/images/hand.png" alt="aid" />-->
                    <!--</div>-->
                </div>
                <!--<div class="secmajor">-->
                <!--    <div class="sec-eqp1">-->
                <!--        <h5>Body Protection</h5>-->
                <!--        <img src="../../static/main/images/body.png" alt="ppe" />-->
                <!--    </div>-->
                <!--    <div class="sec-eqp1">-->
                <!--        <h5>Feet protection</h5>-->
                <!--        <img src="../../static/main/images/feet.jpg" alt="ppe" />-->
                <!--    </div>-->
                <!--    <div class="sec-eqp1">-->
                <!--        <h5>Fall  protection</h5>-->
                <!--        <img src="../../static/main/images/lifelines.jpg" alt="fire" />-->
                <!--    </div>-->
                <!--    <div class="sec-eqp1">-->
                <!--        <h5>Respiratory Protection</h5>-->
                <!--        <img src="../../static/main/images/lungs.png" alt="aid" />-->
                <!--    </div>-->
                <!--    <div class="sec-eqp1">-->
                <!--        <h5>Hand protection</h5>-->
                <!--        <img src="../../static/main/images/hand.png" alt="aid" />-->
                <!--    </div>-->
                <!--</div>-->


            </div>
            <div class="sec-eqp">
                <h4 class="sechead">HSE EQUIPMENT</h4>

                <div class="secmajor">
                    <div class="sec-eqp1">
                        <h5>Energy Isolation Eqpt</h5>
                        <img src="../../static/main/images/lock.png" alt="ppe" />
                    </div>
                    <div class="sec-eqp1">
                        <h5>Safety Signage</h5>
                        <img src="../../static/main/images/sign.png" alt="ppe" />
                    </div>
                    <div class="sec-eqp1">
                        <h5>Fire safety Equipment</h5>
                        <img src="../../static/main/images/firesafe.jpg" alt="fire" />
                    </div>
                    <div class="sec-eqp1">
                        <h5>First Aid Equipment</h5>
                        <img src="../../static/main/images/aid.png" alt="aid" />
                    </div>

                </div>
            </div>
        </div>
        {% include "main/snippets/footer.html" %}
    </section>

{% endblock %}