{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <section id="top" class="text-center" style="overflow-x:hidden;height: 100%;">
            <!--title section-->
        {% include "main/snippets/topbar.html" %}
        <h4 class="nhead">ADBELT CONSULTS (U) LTD</h4>
        <div class="nana-new">
            <div class="nana1-new">
                <img src="../../static/main/images/tr1.jpeg" alt="safe" />
            </div>
            <div class="nana1-new">
                <img src="../../static/main/images/h1.jpeg" alt="safe" />
            </div>
            <div class="nana1-new">
                <img src="../../static/main/images/he.jpeg" alt="safe" />
            </div>
            <div class="nana1-new">
                <img src="../../static/main/images/ind.jpeg" alt="safe" />
            </div>
            <!-- <div class="nana2-new">
               <h3>TRAININGS & CONSULTANCY SERVICES</h3>
            </div> -->
        </div>
        <div class="addiv">
            <h4 class="ad">WELCOME,</h4>
            <p class="pad">
                Adbelt consults (U) Ltd  is a management, 
                inspection, consultancy and training company founded and registered 
                in Uganda. We are occupational health, safety, and environmental 
                consultants that prepare, maintain, assess, and promote safety and 
                health standards within the private, public companies and organizations 
                in accordance with the current legislation both local and international.
            </p>
        </div>
        <div class="sectors">
            <h4 class="sechead">OUR SECTORS</h4>
            <div class="secdiv">
                <div class="sec">
                    <h5>ENERGY</h5>
                    <hr class="newhr">
                    <p>
                        We offer Consultancy services in energy sectors such as Refineries, 
                        Power Generation plants and more..
                    </p>
                </div>
                <div class="sec">
                    <h5>MANUFACTURING</h5>
                    <hr class="newhr">
                    <p>
                        We offer Consultancy services in Manufacturing processes,such as  
                        Sugar plants, Steel processes.Textiles and others
                    </p>
                </div>
                <div class="sec">
                    <h5>OIL AND GAS</h5>
                    <hr class="newhr">
                    <p>
                        Are you dealing in Refinery, Oil Drilling,Petroleum Products.
                        Reach out
                    </p>
                </div>
                <div class="sec">
                    <h5>PUBLIC SECTOR</h5>
                    <hr class="newhr">
                    <p>
                       We train staff of public companies about the latest Safety practices within the 
                       Organization
                    </p>
                </div>
                <div class="sec">
                    <h5>CONSTRUCTION</h5>
                    <hr class="newhr">
                    <p>
                        We offer Top-notch safety practices for construction Workers and Engineers.
                    </p>
                </div>
                <div class="sec">
                    <h5>HEALTH CARE</h5>
                    <hr class="newhr">
                    <p>
                        We Equip Health Workers about the best safety measures For a better healthy 
                        Environment.
                    </p>
                </div>
            </div> 
        </div>
        {% include "main/snippets/footer.html" %}
    </section>

{% endblock %}